* {
  margin: 10px;
  padding: 10px;
}

body {background-color: #FFBFE1;} 

img{
  height: 300px;
  width:300px;
}

.container1{
  border: 3px solid black;

}
.container2{
  border: 3px solid black;
}
.container3{
border: 3px solid black;
}
.container4{
  border: 3px solid black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {background: yellow;}
}

/* Small devices 600px */
@media only screen and (min-width: 600px) {
  {background-color: #FFBFE1}
}

/* Medium devices 768px */
@media only screen and (min-width: 768px) {
  {background-color: yellow}
}

/* Large devices 992px */
@media only screen and (min-width: 992px) {
  {background-color:#FFBFE1}
}

/* Extra large devices 1200px */
@media only screen and (min-width: 1200px) {
  {background-color: yellow}
}

/* .container2{ */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
  /* align-items: flex-start; */
  /* align-content: center; */
  /* width: 100px; */
  /* height: 100px; */
}
/* .container3{ */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
  /* align-items: flex-start; */
  /* align-content: center; */
  /* width: 100px; */
  /* height: 100px; */
}
